


.parallax-container {
    height: 350px;
  }
      

  body {
    background: #f7dada;
}



#contact {
    position: relative;
}

#contactbackground{
    border-radius: 20px;
}

.btn-floating {
    top: 56%;
    left: 39%;
    z-index: 999;
    position: absolute;
}

p {
    font-size: 18px;
}